<% include ../partials/header %>
     <section>
         <div class="container new-attraction-form-container">
             <div class="row">
                 <div class="col-md-5 new-attraction-form-head">
                     <div class="text-center">
                         <img class="" src="http://res.cloudinary.com/cityattractionimages/image/upload/v1528832943/noun_117601_cc.png" alt="logo">
                     </div>
                     <h2 class="text-center new-attraction-form-head-text">Create a new attraction</h2>
                 </div>
                 <div class="col-md-7 new-attraction-form-body">
                     <form action="/attractions" method="POST" enctype="multipart/form-data">
                         <div class="form-group">
                             <label for="attractionName">City Attraction Name</label>
                             <input class="form-control" type="text" id="attractionName" name="attractionName" placeholder="Enter name">
                         </div>
                         <div class="form-group">
                             <label for="image">Upload Attraction Image</label>
                             <input class="form-control-file" id="image"  type="file" name="attractionImage" accept="attractionImage/*" required></input>
                         </div>
                         <div class="form-group">
                             <label for="attractionLocation">City Attraction Address</label>
                             <input class="form-control" type="text" id="attractionLocation" name="attractionLocation" placeholder="500072 Hyderabad">
                         </div>
                         <div class="form-group">
                             <label for="attractionDescription">Attraction Description</label>
                             <textarea class="form-control" name="attractionDescription" id="attractionDescription"></textarea>
                         </div>
                         <div class="form-group">
                             <button class="form-control btn btn-primary" type="submit">Create Attraction</button>
                         </div>
                     </form>
                 </div>
             </div>
         </div>
     </section>
<% include ../partials/footer %>